# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings.
*.js text
*.ts text
*.json text

# Denote all the binary files
*.png binary
*.jpg binary
